@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 700;
	src: url('assets/font/woff/IRANSansX-Bold.woff') format('woff'),   
	url('assets/font/woff2/IRANSansX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 400;
	src: url('assets/font/woff/IRANSansX-Regular.woff') format('woff'),   
	url('assets/font/woff2/IRANSansX-Regular.woff2') format('woff2');	
}

body{
	-moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
}

*::selection{
	color: var(--nextui-colors-white) !important;
	background-color: var(--nextui-colors-primary) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;